/*==== スクロールバー部分 ====================================================*/
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(180deg, #7CC4FF, #9681FF);
  border-radius: 10px;
  box-shadow: none;
}
/*==== end: スクロールバー部分 ===============================================*/

.dashbord-wrapper{
  display: flex;
}
