.line-register-wrapper{
  margin-left: 15px;
}

.line-register{
  background-color:#19BC03;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  width: 65%;
  margin: 0 auto;
  padding: 0px;
}
.line-register img{
  height: 50px;
  margin-left: -15px;
}
.line-register span{
  color: #FFF !important;
  font-weight: 500;
  font-size: 20px;
}

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .line-register img{
    height: 70px;
  }
}
