// レイアウト幅
$layout-width-inner: 1024px;

// ブレークポイント
$breakpoints: (
    "sp": "screen and (max-width: 767px)",
    "tab":
        "screen and (max-width: #{$layout-width-inner - 1px}) and (min-width: 768px)",
    "pc": "screen and (min-width: #{$layout-width-inner})",
);

// メディアクエリ
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

$btn_gradation_color: linear-gradient(to right, #7cc4ff, #9681ff);
$blue: #6b8be9;
