.pc{
  display: none;
}

.flex{
  display: flex;
}
.container{
  background-color: #f8fafc;
}

/* === begin: 動画コンテンツ部分 =================================================*/
.video-thumbnail{
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #000;
}
.video-thumbnail:before {
    content:"";
    display: block;
    padding-top: 56.25%;
}
.video-thumbnail img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px 0;
}

.video-title{
  font-size: 18px;
  color: #333;
  margin: 10px auto;
  width: 90%;
  font-weight: bold;
}

.video-view-good-wrapper{
  width: 90%;
  margin: 0 auto;
  font-size: 14px;
  justify-content: space-between;
}

.other-question-wrapper{
  margin: 15px auto 15px 5%;
  display: flex;
  white-space: nowrap;
  padding-bottom: 5px;
}
.other-question-wrapper div{
  font-size: 14px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

/* === begin: スクロールバー デザイン 変更部 ===========================================*/
.other-question-wrapper::-webkit-scrollbar {
  width: 3px;
  height: 7px;
}
.other-question-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #7CC4FF, #9681FF);
  border-radius: 10px;
}
.other-question-wrapper::-webkit-scrollbar-track {
  background: rgba(100,100,100, .1);
  margin-left: 10px;
}
/* === end: スクロールバー デザイン 変更部 ===========================================*/
/* === end: 質問タグ部分 =================================================*/


.other-question-selected{
  background: linear-gradient(to right, #7CC4FF, #9681FF);
  color: #FFF;
}

.other-question{
  background-color: #D5E3FF;
}

.video-score-wrapper{
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  padding-bottom: 30px;
}
.video-score-wrapper .right-child{
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.5;
  width: 150px;
  height: 50px;
  text-align: center;
  background-color: #E6B422;
  border-radius: 5px;
}
.video-score-wrapper .left-child div a{
  color: #606060;
}
.video-score-wrapper .left-child div a:hover{
  color: #030303;
}
.video-score-wrapper .left-child img{
  width: 40px;
  border-radius: 50%;
}
.video-score-wrapper .left-child .video-st-user{
  margin-bottom: 10px;
}
.video-score-wrapper .left-child .video-st-user img{
  border: 2px solid #7CC4FF;
}
.video-score-wrapper .left-child .video-hr-user img{
  border: 2px solid #9681FF;
}

.hundred span{
  /* フォントサイズなど任意指定 */
  text-transform: uppercase;
  /* 背景グラデーションを指定・幅を 200% にしておく */
  background: linear-gradient(to right, rgb(255, 0, 0),rgb(255, 20, 172),rgb(90, 40, 255),
    rgb(60, 120, 255),rgb(80, 255, 237),rgb(100, 255, 169),
    rgb(170, 255, 120),rgb(221, 255, 140),rgb(255, 236, 160),
    rgb(255, 208, 180),rgb(255, 208, 200),#ff0000)0% center / 200% auto;
  /* 背景画像を文字でマスクする*/
          background-clip: text;
  -webkit-background-clip: text;
  /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可*/
          text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  /* アニメーション指定 */
  animation: example 8s linear infinite;
}

/* 背景の横位置をズラす */
@keyframes example {
  to { background-position-x: 200%; }
}

.date {
  display: none;
}

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/

  .sp{
    display: none:
  }
  .pc{
    display: block;
  }
  .flex-pc{
    display: flex;
  }
  /* === begin: 動画コンテンツ部分 =================================================*/
  .video-wrapper{
    padding-top: 30px;
  }
  .video-wrapper .flex-pc .left-child-pc{
    width: 45%;
  }
  .video-wrapper .flex-pc .right-child-pc{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .video-title{
    font-size: 22px;
  }

  .video-user-wrapper{
    width: 90%;
    margin: 0 auto;
  }

  .video-hr-user{
    flex-direction: initial !important;
  }

  .other-question-wrapper{
    width: 90%;
  }
  .other-question-wrapper div{
    font-size: 15px;
  }

  .video-score-wrapper{
    border-bottom: none;
    padding-bottom: 0px;
    margin-top: 20px;
  }
  .video-score-wrapper .left-child div a{
    color: #606060;
  }
  .video-score-wrapper .left-child div a:hover{
    color: #030303;
  }
  .video-score-wrapper .left-child img{
    width: 40px;
    border-radius: 50%;
  }
  .video-score-wrapper .left-child .video-st-user{
    margin-bottom: 10px;
  }
  .video-score-wrapper .left-child .video-st-user img{
    border: 2px solid #7CC4FF;
  }
  .video-score-wrapper .left-child .video-hr-user img{
    border: 2px solid #9681FF;
  }
  .video-score-wrapper .right-child{
    line-height: 2;
    width: 200px;
    height: 60px;
  }
  .video-score-wrapper .right-child span{
    font-size: 30px;
  }
  /* === end: 動画コンテンツ部分 =================================================*/
}
