.left-interview-wrapper{
  display: none;
}

@media screen and (min-width: 1024px) {
  .left-interview-wrapper{
    display: initial;
    position: fixed;
    bottom: 50px;
    left: 5%;
    transition: .3s;
    z-index: 9999;
  }
  .left-interview-wrapper:hover{
    transform: translateY(-0.3em);
    transition: .3s;
  }
  .left-interview-img img{
    width: 225px;
  }
  .left-interview-description{
    text-align: center;
    background: linear-gradient(to right, #fc0, #ff9d23);
    padding: 12px 15px;
    border-radius: 5px;
    position: absolute;
    bottom: -15px;
    width: 250px;
    color: #FFF;
    white-space: nowrap;
  }
  .fuwafuwa {
    -webkit-animation:fuwafuwa 1s infinite linear alternate;
    animation:fuwafuwa 1s infinite linear alternate;
  }
    
  @-webkit-keyframes fuwafuwa {
    0% {-webkit-transform:translate(0, 0) rotate(-1deg);}
    50% {-webkit-transform:translate(0, -5px) rotate(0deg);}
    100% {-webkit-transform:translate(0, 0)rotate(1deg);}
  }
    
  @keyframes fuwafuwa {
    0% {transform:translate(0, 0) rotate(-1deg);}
    50% {transform:translate(0, -5px) rotate(0deg);}
    100% {transform:translate(0, 0)rotate(1deg);}
  }
}