/* === begin: 共通部分 =================================================*/
.pc{
  display: none;
}

.flex{
  display: flex;
}
.container{
  background-color: #FFFFFF;
}

/* === end: 共通部分 =================================================*/

/* === begin: タグ部分 =================================================*/
.filter-wrapper{
  justify-content: space-between;
  padding: 0px 10px 20px;
  margin-top: 20px;
  z-index: 999;
  background: #FFFFFF;
}

.form-input-wrapper{
  width: 30%;
}
.form-input-wrapper select{
  border-radius: 30px;
}
.form-input-wrapper label{
  margin-left: 15px;
}
/* === end: タグ部分 =================================================*/

.contents-wrapper{
  margin-top: 25px;
}

/* === end: 動画コンテンツ部分 =================================================*/
@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .sp{
    display: none;
  }
  .pc{
    display: block;
  }
  .flex-pc{
    display: flex;
  }

  /* === begin: 質問タグ部分 =================================================*/
  .filter-wrapper{
    justify-content: space-between;
    margin: 20px auto;
  }
  .form-input-wrapper label {
      font-size: 20px;
  }
  .form-input-wrapper select {
      font-size: 18px;
  }
}
  /* === end: 質問タグ部分 =================================================*/