/* === begin: メイン部分 =================================================*/
.form-wrapper{
  text-align: center;
}

.title{
  margin: 100px auto;
  color: #6B8BE9;
  font-size: 20px;
  font-weight: bold;
}

.message-card{
  margin: -50px auto 150px;
}
/* === end: メイン部分 =================================================*/

/* === begin: LINE部分 =================================================*/
.line-wrapper{
  margin-top: 50px;
  padding: 40px 5%;
  text-align: center;
  border-radius: 15px !important;
  border: solid 1px #EEE;
}
.line-description{
  text-align: left;
  width: 80%;
  margin: 0 auto;
}
/* === end: LINE部分 =================================================*/

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .form-wrapper{
    padding: 0 20% !important;
  }

  .title{
    font-size: 26px;
    margin: 100px auto 200px;
  }

  .message-card{
    margin: -100px auto 100px;
  }

}
