.header-wrapper{
  width: 100vw;
  background: linear-gradient(to right, #7CC4FF, #9681FF);
}

.header{
  max-width: 1000px;
}

.header-logo img{
  width: 120px;
}

.header-dropdown{
  text-align: center;
}

.header-dropdown-menu{
  text-align: center;
}
.nav-link{
  color: #FFF !important;
}

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .header-wrapper{
    width: 100vw;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
    overflow-x: hidden;
  }

  .header-logo img{
    width: 200px;
  }

}
