/* === begin: 共通部分 =================================================*/
.pc{
    display: none !important;
  }
  
  .flex{
    display: flex;
  }
  .container{
    background-color: #FFFFFF;
  }
  /* === end: 共通部分 =================================================*/
  
  /* === begin: 各人事部分 =================================================*/
  .hr-profile-wrapper{
    margin: 30px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
  }
  
  .hr-profile-wrapper .flex{
    align-items: flex-start;
    margin: 15px auto 10px;
  }
  
  .hr-profile-wrapper .right-child{
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
  }

  .chat-name{
    color: #555;
  }
  .chat-body{
    font-size: 14px;
    font-weight: 500;
    color: #888;
  }
  
  .hr-photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #9681FF;
  }
  
  .icon{
    width: 20px;
  }

  /* === start: 面接リクエストない場合 部分 =================================================*/
  .none-block{
    width: 90%;
    margin: auto;
  }
  .none-block h1{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #9681FF;
  }
  
  .none-img{
    width: 60%;
    margin: 40px auto 25px;
    text-align: center;
  }
  
  .description{
    font-size: 14px;;
  }
  
  .button{
    background: linear-gradient(to right, #7CC4FF, #9681FF);
    border-radius: 30px;
    width: 80%;
    text-align: center;
    margin: 35px auto;
  }
  .button span{
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    line-height: 2.5;
  }
  
  /* === end: 面接リクエストない場合 部分 =================================================*/
  
  /* === end: 各人事部分 =================================================*/
  
  @media screen and (min-width:1025px) {
  /*　画面サイズが1025px以上はここを読み込む　*/
    .sp{
      display: none;
    }
    .pc{
      display: block !important;
    }
  
    .form-input-wrapper label {
        font-size: 20px;
    }
    .form-input-wrapper select {
        font-size: 18px;
    }
  
    .hr-profile-wrapper .right-child {
      margin-left: 20px;
      font-size: 24px;
    }
  
    .hr-photo {
      width: 50px;
      height: 50px;
    }
  
    /* === start: 面接リクエストない場合 部分 =================================================*/
    .none-block h1{
      font-size: 22px;
      margin: 50px auto;
    }
  
    .none-img{
      width: 50%;
    }
  
    .description{
      width: 60%;
      margin: 50px auto;
      font-size: 16px;
    }

    .button{
        width: 50%;
    }
    /* === end: 面接リクエストない場合 部分 =================================================*/
  
  }
  