/* === begin: 共通部分 =================================================*/
.pc{
  display: none !important;
}

.flex{
  display: flex;
}
.container{
  background-color: #FFFFFF;
}
/* === end: 共通部分 =================================================*/

/* === start: タブ切り替え部分 ====================================*/
.tabs {
  padding-bottom: 40px;
  background-color: #fff;
  width: 100%;
  margin: 50px auto;
}

/*タブのスタイル*/
.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #7CC4FF;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}
.tab_item:hover {
  opacity: 0.75;
}

/*ラジオボタンを全て消す*/
input[name="tab_item"] {
  display: none;
}

/*タブ切り替えの中身のスタイル*/
.tab_content {
  display: none;
  padding: 40px 10px 0;
  clear: both;
  overflow: hidden;
}

/*選択されているタブのコンテンツのみを表示*/
#all:checked ~ #all_content,
#offer:checked ~ #offer_content{
  display: block;
}

/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
  background-color: #7CC4FF;
  color: #fff;
}
/* === end: タブ切り替え部分 ==============================================*/
/* === begin: 各人事部分 =================================================*/
.hr-profile-wrapper{
  margin: 30px auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.hr-profile-wrapper .flex{
  align-items: flex-start;
  margin-bottom: 5px;
}

.hr-profile-wrapper .right-child{
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  width: 85%;
}

.chat-name{
  color: #555;
}
.chat-under-flex{
  display: flex;
  justify-content: space-between;
}
.chat-body{
  width: 85%;
  font-size: 14px;
  font-weight: 500;
  color: #888;
}

.unread-flag-wrapper{
  width: 10%;
  text-align: center;
  margin-left: 3%;
}
.unread-flag-wrapper div{
  background: #00b900;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #FFF;
  font-weight: 500;
  font-size: 15px;
}

.hr-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #9681FF;
}

.icon{
  width: 20px;
}

/* === start: 面接リクエストない場合 部分 =================================================*/
.none-block{
  width: 90%;
  margin: auto;
}
.none-block h1{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #9681FF;
}

.none-img{
  width: 60%;
  margin: 40px auto 25px;
  text-align: center;
}

.description{
  font-size: 14px;;
}

.button{
  background: linear-gradient(to right, #7CC4FF, #9681FF);
  border-radius: 30px;
  width: 80%;
  text-align: center;
  margin: 35px auto;
}
.button span{
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  line-height: 2.5;
}

/* === end: 面接リクエストない場合 部分 =================================================*/

/* === end: 各人事部分 =================================================*/
@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .sp{
    display: none;
  }
  .pc{
    display: block !important;
  }

  .form-input-wrapper label {
      font-size: 20px;
  }
  .form-input-wrapper select {
      font-size: 18px;
  }

  .hr-profile-wrapper .right-child {
    margin-left: 20px;
    font-size: 20px;
    width: 95%;
  }

  .hr-photo {
    width: 50px;
    height: 50px;
  }

  .tabs{
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .tab_content {
    padding: 40px 40px 0;
  }

  /* === start: 面接リクエストない場合 部分 =================================================*/
  .none-block h1{
    font-size: 22px;
    margin: 50px auto;
  }

  .none-img{
    width: 50%;
  }

  .description{
    width: 60%;
    margin: 50px auto;
    font-size: 16px;
  }

  .button{
      width: 50%;
  }
  /* === end: 面接リクエストない場合 部分 =================================================*/

}
