.transition-button{
  margin-top: 50px;
  text-align: center;
}
.transition-button button{
  width: 90%;
  border-radius: 5px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(to right, #7CC4FF, #9681FF);
  border: none;
  line-height: 2.8;
  transition: .2s;
}

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .transition-button{
    width: 400px;
    margin: 75px auto;
  }
  .transition-button span{
    font-size: 20px;
  }
  .transition-button button:hover {
    transform: translateY(-0.1875em);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(to right, #7CC4FF, #7F66FF);
  }
}
