/* === begin: 画面タイトル 部分 =================================================*/
.top-content{
  margin: 50px auto;
  text-align: center;
}
.top-content h1{
  font-size: 22px;
  font-weight: bold;
}
/* === end: 画面タイトル 部分 =================================================*/

/* === begin: フォーム部分 =================================================*/
.form-input-wrapper{
  width: 95%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.form-title{
  color: #6B8BE9;
  margin-left: 10px;
}

.form-input input{
  border-radius: 30px;
  padding: 1.4rem;
  font-size: 1.1rem;
}

.button-wrapper{
  margin-top: 50px;
  text-align: center;
}
.button-wrapper button{
  width: 100%;
  border-radius: 5px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  background: linear-gradient(to right, #7CC4FF, #9681FF);
  border: none;
  line-height: 2.8;
}
/* === end: フォーム部分 =================================================*/

/* === begin: 採用担当者の方はこちら 部分 =================================================*/
.to-hr-wrapper{
  margin: 25px auto;
  padding: 25px;
  border-top: 1px solid #555555;
  text-align: center;
}

.to-hr{
  color: #6B8BE9;
  font-size: 20px;
  font-weight: bold;
}
/* === end: 採用担当者の方はこちら 部分 =================================================*/

@media screen and (min-width:1025px) {
/*　画面サイズが1025px以上はここを読み込む　*/
  .top-content h1{
    font-size: 24px;
  }

  .form-wrapper{
    padding: 0 25% !important;
  }

  .button-wrapper{
    margin-top: 100px;
    padding: 0 5%;
  }
  .button-wrapper .btn-link{
    font-size: 18px;
  }


}
